//Start: "Card custom variables"
$card-height: 16rem;
$card-bg: white;
//End: "Card custom variables"

//Start: Navbar Custom variables
$navbar-dark-color: #462f22;
$navbar-dark-hover-color: #462f22a6;

$navbar-dark-brand-color: #462f22;
$navbar-dark-brand-hover-color: #462f22a6;

$bg-dark: blue;
//End: Navbar Custom variables

//Start Color
$primary: #462f22;
$secondary: #c5894d;
//End Color
@import "../node_modules/bootstrap/scss/bootstrap.scss";
