$paddingProductos: 4%;
$paddingHead: $paddingProductos;
$verticalPadding: 3%;

.productos {
  .container-custom {
    display: flex;
    justify-content: start;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__head {
    font-family: "Josefin Slab", serif;
    font-weight: 600;
    padding: 0 $paddingHead + 1%;
  }
  &__agrupacion {
    display: flex;
    padding: 0 $paddingProductos;
    justify-content: space-around;
  }
}
