.seccion-productos {
  padding-top: 2%;

  #almuerzo {
    background-image: url(../assets/img/cagliari.jpeg);
  }
  #desayuno {
    background-image: url(/assets/img/avocado_toast.jpeg);
  }

  #cena {
    background-image: url(/assets/img/empanada_aji.jpeg);
  }

  .productoBackground {
    display: flex;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    background-position: center;
    cursor: pointer;
  }
  #desayuno,
  #almuerzo,
  #cena {
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    font-family: "Quicksand", sans-serif;
  }
}

.card-custom {
  background-color: transparent !important;
  border: none !important;
  h2 {
    background-color: transparent;
  }
}
